textarea:focus, input:focus{
  outline: none;
}

.greeting-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  padding-right: 10px;
  font-size: 20px;
  color: #333333;
}

.main-searchbar {
  display: flex;
  height: 45px;
  padding-left: 10px;
  border: solid 1px #ebebeb; 
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.search-bar {
  outline: none;
  border: none;
  height: 20px;
  font-size: 20px;
  width: 280px;
  background: white;

}

.left-greeting {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.right-greeting {
  display: flex;
  color: #333333;

  align-items: center;
  padding-right: 15px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}

.hype-logo {
  padding-left: 20px; 
  padding-right: 20px;
}

.host-button {
  font-size: 16px;
  height: 40px;
  width: 120px;
  background-color: transparent;
  border: solid 1px #40d9ac;
  color: #40d9ac;
}

button:focus {outline:0;}

a {color: inherit}

.signup-login-button {
  border: none;
  font-size: 14px;
  background: none;
  background-color: transparent;
  border-bottom: solid 1px #ebebeb;
  margin-right: 10px; 
}

.right-greeting-links {
  margin-right: 10px;
  font-size: 14px;
  text-decoration: none;
}

button.host-button:hover {
  background-color: #40d9ac;
  color: white;
}