.main-img {
  width: 700px;
  height: 550px;
  object-fit: cover;
}

.uppersplash {
  display: flex;
  justify-content: space-between;
  margin-left: 100px;
  font-family: "Calibre", Helvetica, Arial, sans-serif;

}

.uppersplash-r {
  margin-right: 5px;
}

.uppersplash-l {
  width: 500px;
}

.find-txt {
  font-size: 60px;
  font-weight: bold;
}

.splash-small {
  font-size: 17px;
}



.s-search-icon {
  padding-right: 10px;
  font-size: 20px;
  color: #333333;
}

.s-main-searchbar {
  display: flex;
  height: 80px;
  padding-left: 10px;
  border: solid 1px #ebebeb; 
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.s-search-bar {
  outline: none;
  border: none;
  height: 20px;
  font-size: 20px;
  width: 400px;
  background: white;

}