.main-camp-show {
  font-family: "Calibre", Helvetica, Arial, sans-serif;

}

.upper-images {
  list-style: none;
  padding: 0;
  display: flex;
  height: 400px;
  justify-content: space-between;
}

.upper-images > li {
  list-style: none;
}

.upper-images > li > img {
  height: 350px;
  width: 450px;
  object-fit: cover;
}

.show-body {
  margin-right: auto;
  margin-left: auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  color: #333333;

}


.show-body-right {
  width: 300px;
  height: 300px;
  border: solid 1px #ebebeb; 
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.show-price-guest-num {
  display: flex;
  justify-content: space-between;
}

.show-body-price {
  height: 80px; 
  padding-left: 20px;
  margin-right: -20px;
}

.show-body-price > h1 {
  margin: 0;
  padding-bottom: 0;
  padding-top: 30px;
}

.show-body-price > p {
  margin: 0;
  padding: 0;
  
}

.show-body-right > ul {
  padding-left: 0;
  display: flex;
  height: 80px;
  justify-content: space-between;
  margin: 0;
}

.guest-num-cont {
  height: 80px;
  width: 150px;
  padding-bottom: 10px;
  border-left: solid 1px #ebebeb; 

}

.guest-num-cont > h3 {
  padding-left: 40px;
}

.guest-adder-sub {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.guest-adder-sub > button {
  margin-top: -10px;
  margin-left: 30px;
  height: 20px;
  font-size: 20px;
  border: none;
}


.guest-adder-sub > button:hover {
  cursor: pointer;
}

.guest-num-holder {
  margin-top: -5px;
  margin-left: 18px;
  font-size: 18px;
}

.show-body-right ul > li {
  list-style: none;
  padding-left: 5px;
  width: 150px;
  border: solid 1px #ebebeb; 
}

.show-body-right ul > li > h3 {
  font-size: 16px;
}

.show-body-right section {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.show-body-right section > button {
  background: #40d9ac;
  color: white;
  padding: 30px 70px 30px 70px; 
  text-decoration: none;
  font-size: 18px;
}

.show-body-right section > button:hover {
  cursor: pointer;
}

.show-body-left {
  width: 500px;
}

.show-body-state {
  font-size: 18px;
  border-bottom:  solid 1px #ebebeb; 
  padding-bottom: 5px;
  width: 120px;
}

.show-body-description {
  font-size: 18px;
  border-bottom:  solid 1px #ebebeb; 
  padding-bottom: 5px;
  width: 100px;
  font-weight: bold;
}

.show-body-left > p {
  font-size: 18px;
  border-bottom:  solid 1px #ebebeb; 
  padding-bottom: 5px;
}

.show-body-left > h1 {
  font-size: 34px;
  border-bottom:  solid 1px #ebebeb; 
  padding-bottom: 20px;
}