button:focus {outline:0;}

a {color: inherit}

.sf-join-title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
}

.sf-join-small {
  color: #a1a1a1;
  font-size: 14px;
  text-align: center;
  margin-bottom: 35px;
}


.sf-join-login {
  font-size: 16px;
  height: 60px;
  width: 216px;
  color: white;
  border: solid 1px #40d9ac;
  background-color: #40d9ac;
  margin-top: 20px;
}

.sf-fn-ln {
  align-content: center;
}

.sf-fn {
  font-size: 16px;
  margin-right:5px;
  width: 80px;
  padding: 12px;
  border: 1px solid;
}

.sf-ln {
  font-size: 16px;
  width: 80px;
  padding: 12px;
  border: 1px solid;
}

.sf-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  width: 320px;
}

.login-input {
  font-size: 16px;
  margin-bottom: 5px;
  width: 190px;
  padding: 12px;
  border: 1px solid;
  margin-top: 10px;
}

.login-form {
  top: 30%;
}

.sf-join-bot-master {
  font-size: 14px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.errors-render {
  text-align: center;
  color: #c44841;
  padding: 10px;

}

.bot-mod-items {
  text-align: center;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Calibre", Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
}